.footer {
    grid-area: footer;
    font-size: 14px;
    padding: 0 26px;
}

@media (min-width: 320px) {
    .footer {
        padding-left: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
